.grid_window {
  text-align: center;
  border: 2px solid lightslategray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.grid_layout {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
}

.grid_cell {
  width: 150px;
  height: 80px;
  padding: 5px;
  background-color: lightblue;
  border-radius: 2px;
}


.highlight {
  background-color: #e0e0e0;
}

